#slide-out{
    margin-top: 64px !important;
}

.place-image{
    background-repeat: no-repeat;
    height: 350px;
    background-size: 100%;
}

.circle{
    width: 300px;
    height: 300px;
}

.bold{
    font-weight: bold;
}

body{
    
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-login{
    border-radius: 10px;
    opacity: 0.85;
}

.btn-social{
    width: 100%;
}