#slide-out{
    margin-top: 64px !important;
}

.dataTables_length{
    white-space: nowrap !important;
}

.dataTables_filter{
	white-space: nowrap !important;
	margin-right:50px !important;
}

.color-thead{
    background: #3f51b5 !important;
    color: white;
}

.clase1{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.icon-custom{
    font-size: 1.8rem !important;
}

.icon-customE{
    font-size: 1.8rem !important;
}

#modal_actions{
	width: 510px !important;
}

#modal_actions_elemento{
	width: 510px !important;
}

#modal_actions_subrubro{
	width: 510px !important;
}

#modal_confirm_rubro{
	width: 510px !important;
}



#modal_confirm_subrubro{
	width: 510px !important;
}

#modal_confirm_elemento{
	width: 510px !important;
}

.tr-selected{
	background-color: #05a08b !important;
	color: white;
}

.tr-no-selected{
	background-color: white !important;
	color: black;
}

#modal_actions_tipo_obre{
	width: 510px !important;
}

.clasemodal_actionscss{
	width: 510px !important;
}

.clasemodal_confirm_css{
	width: 510px !important;
}

.clasemodal_add_mod{
	width: 510px !important;
}

#modal_filiales{
	width: 510px !important;
}

.modal_zonas{
	width: 510px !important;
	height : 950px !important;
}

.modal_detalle{
	width: 1024px !important;
	height : 1024px !important;
}


