#slide-out{
    margin-top: 64px !important;
}

.dataTables_length{
    white-space: nowrap !important;
}

.dataTables_filter{
	white-space: nowrap !important;
	margin-right:50px !important;
}

.color-thead{
    background: #3f51b5 !important;
    color: white;
}

.clase1{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.icon-custom{
    font-size: 1.8rem !important;
}

#modal_actions{
	width: 510px !important;
}